*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B39259;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid #533F10 5px;
    border-radius:  0 0 20px 20px ;
    font-family: "Roboto Slab", serif;
    background-color: #E6AB73;
    color: #533F10;
}
.logo{
    font-size: 30px;
}
header nav ul{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    
}

header nav ul li{
    padding: 10px;
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #533F10;
    
}


.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    /* border: green 2px solid; */
}

.main-content{
    background-color: #E6AB73;
    padding: 20px;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #533F10 3px solid;
    border-radius: 20px;
    text-align: center;
}


section h2,
section h3,
section p
{
    margin: 10px;
    color: #533F10;
    font-family: "Roboto Slab", serif;
}


.main-content button{
    color: #fff;
    height: 45px;
    width: 150px;
    font-family: "Roboto Slab", serif;
    background-color: #533F10;
    font-size: 16px;
    border-radius: 20px;
}