*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B39259;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid #533F10 5px;
    border-radius:  0 0 20px 20px ;
    font-family: "Roboto Slab", serif;
    background-color: #E6AB73;
    color: #533F10;
}
.logo{
    font-size: 30px;
}
header nav ul{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    
}

header nav ul li{
    padding: 10px;
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #533F10;
    
}


.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    max-width: 1480px;
    width: 100%;
    margin: 40px;
}

.main-content{
    background-color: #E6AB73;
    padding: 20px;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #533F10 3px solid;
    border-radius: 20px;
    text-align: center;
}

img{
    height: 450px;
    width: 950px;
    margin: 0;
    

}


section h2,
section h3,
section p
{
    margin: 10px;
    color: #533F10;
    font-family: "Roboto Slab", serif;
}


.main-content button{
    color: #fff;
    height: 45px;
    width: 150px;
    font-family: "Roboto Slab", serif;
    background-color: #533F10;
    font-size: 16px;
    border-radius: 20px;
}

button a{
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
}


.form-content{
    width: 350px;
    height: 300px;
    margin: 40px;
    font-family: 'Roboto Slab', serif;
    background-color: #E6AB73;
    border-radius: 20px;
    border: #533F10 3px solid;

}


form{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    padding: 15px;
}

label,input
{
    margin: 0;
}

input{
    background-color: #533F10;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

label{
    font-size: 20px;
    color: #fff;
}

.form-content button{
    color: #fff;
    height: 55px;
    width: 150px;
    font-family: "Roboto Slab", serif;
    background-color: #533F10;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 20px;
}